In [1]:
# import packages 使用函式庫
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go

import pandas as pd

%matplotlib inline

In [2]:
# Get the data 取得資料並產生資料架構

countries=['US','AU','CA','DE','FR','GB','IE','JP']

C=["https://raw.githubusercontent.com/hiring-lab/job_postings_tracker/master/{0}/aggregate_job_postings_{0}.csv".format(country,country) for country in countries]

In [3]:
# import  data  to Database
dfs=[pd.read_csv(c,parse_dates=['date']) for c in C]

df_world=pd.DataFrame()
df_world['date']=dfs[0]['date']
df_world['variable']=dfs[0]['variable']
for i in range(len(countries)):
    df_world[countries[i]]=dfs[i]['indeed_job_postings_index_SA']

df_world.reset_index(inplace=True,drop=True)

In [4]:
df_world

,date,variable,US,AU,CA,DE,FR,GB,IE,JP
0,2020-02-01,total postings,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,2020-02-02,total postings,99.98,100.06,100.08,100.01,99.95,99.95,99.91,99.64
2,2020-02-03,total postings,99.97,100.22,100.12,100.13,100.03,100.01,99.83,99.54
3,2020-02-04,total postings,100.03,100.36,100.18,99.71,99.86,99.95,99.67,99.15
4,2020-02-05,total postings,100.12,100.39,100.30,99.91,99.84,99.98,99.62,98.89
...,...,...,...,...,...,...,...,...,...,...
2305,2023-03-27,new postings,146.79,195.99,134.37,172.77,161.16,125.70,168.13,175.26
2306,2023-03-28,new postings,147.48,196.62,134.28,174.77,161.87,125.81,169.43,174.30
2307,2023-03-29,new postings,147.79,196.34,134.44,176.32,162.79,126.31,170.42,174.64
2308,2023-03-30,new postings,147.88,197.03,134.60,178.71,163.20,127.00,171.46,176.68
2309,2023-03-31,new postings,148.20,197.93,133.75,179.98,162.99,127.47,176.66,176.72

In [5]:
# packages for SQL
import sqlite3
import sqlalchemy as sa

In [6]:
# Create a connection to your SQL database 
# saved df_world to a file "Job.db" 將資料存成 SQL 檔案 
engine = sa.create_engine('sqlite:///job.db')

# Write the dataframe to a new SQL table named 'job'
df_world.to_sql('job', con=engine, if_exists='replace', index=False)

2310

In [7]:
df_world.to_csv("job.csv",index=False)

In [8]:
# Load SQL, 透過SQL語法讀取資料庫中的資料
conn = sqlite3.connect('job.db') 
SQL_df = pd.read_sql("SELECT * FROM job WHERE variable='new postings'", conn, parse_dates=['date'])
SQL_df

,date,variable,US,AU,CA,DE,FR,GB,IE,JP
0,2020-02-01,new postings,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,2020-02-02,new postings,100.86,97.80,100.17,100.92,100.02,100.24,100.21,100.43
2,2020-02-03,new postings,101.71,97.92,100.37,101.70,100.11,100.43,100.39,102.56
3,2020-02-04,new postings,101.99,98.95,100.58,100.93,99.03,100.02,100.02,101.64
4,2020-02-05,new postings,102.21,99.14,100.88,101.74,98.75,99.91,100.28,101.54
...,...,...,...,...,...,...,...,...,...,...
1150,2023-03-27,new postings,146.79,195.99,134.37,172.77,161.16,125.70,168.13,175.26
1151,2023-03-28,new postings,147.48,196.62,134.28,174.77,161.87,125.81,169.43,174.30
1152,2023-03-29,new postings,147.79,196.34,134.44,176.32,162.79,126.31,170.42,174.64
1153,2023-03-30,new postings,147.88,197.03,134.60,178.71,163.20,127.00,171.46,176.68
1154,2023-03-31,new postings,148.20,197.93,133.75,179.98,162.99,127.47,176.66,176.72

In [11]:
SQL_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1155 non-null   datetime64[ns]
 1   variable  1155 non-null   object
 2   US        1155 non-null   float64
 3   AU        1155 non-null   float64
 4   CA        1155 non-null   float64
 5   DE        1155 non-null   float64
 6   FR        1155 non-null   float64
 7   GB        1155 non-null   float64
 8   IE        1155 non-null   float64
 9   JP        1155 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 90.4+ KB